p,
span,
h1,
h2,
h3
{
  margin: 0px;
}

.page {
  border: 1px solid black;
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.offset {
  margin-bottom: 100px;
}

.header {
  /*border: 1px solid red;*/
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  z-index: 0;
  /* выше установили ограничения для секции */
}

.logo {
  /*border: 1px solid red;*/
  width: 183px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
  z-index: 1;
}

.header__title {
  /*border: 1px solid red;*/
  width: 730px;
  display: flex;
  align-items: center;
  align-self: center;
  margin-left: 64px;
  z-index: 1;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}

.header__subtitle {
  /*border: 1px solid red;*/
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 1;
  font-size: 18px;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  /*border: 1px solid red;*/
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.header__main-illustration_image {
  /*border: 1px solid red;*/
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0px;
  z-index: -1;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  /*border: 1px solid blue;*/
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__breif {
  margin: 0px;
  /*border: 1px solid blue;*/
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  height: 100%;
}

.two-columns__main-text {
  /*border: 1px solid blue;*/
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph_position_top {
  /*border: 1px solid blue;*/
  margin: 0px;
}

.two-columns__paragraph_position_center {
  /* border: 1px solid blue; */
  margin: 30px 0px;
  display: inline-block;
}

.two-columns__span-accent {
  display: inline-block;
  font-weight: bold;
}

.two-columns__paragraph_position_bottom {
  /* border: 1px solid blue; */
  margin: 0px;
}

.digits {
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-titl {
  /*border: 1px solid red;*/
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  /*border: 1px solid red;*/
  width: 60%;
  text-align: center;
  margin: 20px auto 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  /*border: 1px solid red;*/
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  /*border: 1px solid red;*/
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
}

.feynman {
  /* border: 1px solid blue; */
  background-color: #f2f2f2;
  position: relative;
  text-align: center;
}

.feynman__title {
  position: absolute;
  /* border: 1px solid blue; */
  width: 648px;
  left: calc(50% - 324px);
  z-index: 2;
}

.feynman__title_text {
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 2;
}

.feynman__subtitle {
  /* border: 1px solid blue; */
  justify-content: center;
  display: inline-block;
  position: absolute;
  top: calc(276px + 70px);
  left: calc(50% - 446px / 2);
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feinman__illustration {
  /*border: 1px solid red;*/
  width: 867px;
  height: 637px;
  margin: 156px auto 0px 0px;
}

.feinman__link {
  /*border: 1px solid red;*/
  display: inline-block;
  position: absolute;
  right: 48px;
  top: 50%;
}

.feinman__link_text {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  /*border: 1px solid red;*/
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  overflow: hidden;
}

.kaufman__traingle {
  /*border: 1px solid red;*/
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  z-index: 0;
}

.kaufman__traingle_image {
  width: 100%;
  height: 100%;
}

.section-titl__theme_dark {
  color: #ffffff;
  margin-top: 90px;
  z-index: 1;
}

.section-subtitle__theme_dark {
  color: #ffffff;
  z-index: 1;
}

.table__theme_dark {
  margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.footer {
  min-height: 350px;
  background-color: #000000;
  border: 1px solid #000000;
}

.columns {
  /*border: 1px solid red;*/
  margin: 60px auto 40px;
  min-height: 250px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.column_content_copyright {
  /*border: 1px solid red;*/
  flex-basis: 711px;
  display: flex;
  position: relative;
  justify-content: space-between;
  /* align-self: center; */
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.autor {
  /*border: 1px solid red;*/
  position: absolute;
  bottom: 18px;
  line-height: 25px;
  font-size: 18px;
}

.column_content_info {
  /*border: 1px solid red;*/
  display: inline-block;
}

.column-heading {
  /*border: 1px solid red;*/
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.column-links {
  /*border: 1px solid red;*/
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  color: white;
}

.column_content_social {
  /*border: 1px solid red;*/
}

.column-links__icon {
  display: flex;
}

.icon {
  /*border: 1px solid red;*/
  display: inline-block;
  align-items: center;
}
